html {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 1.33em;
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
header {
  height: 50px;
  width: 100%;
  border-bottom: 3px solid #2E0854;
}
app {
  height: 100%;
}
aside {
  float: left;
  width: 300px;
  height: calc(100% - 53px);
  background: #ddd;
}
aside ul {
  list-style-type: none;
}
aside ul li {
  padding: .4em 0;
}
aside ul li a {
  text-decoration: none;
  color: #2E0854;
}
main {
  height: calc(100% - 40px);
}
main iframe {
  width: calc(100% - 300px);
  overflow: scroll;
  border: none;
}
