<header>
	<div style="float: right; line-height: 50px; margin-right: 20px; font-size: .8em">{{vm.status}}</div>
	<a style="float: left; padding: 10px 0 0 10px" ui-sref="."><img src='img/logo.png'/></a>
</header>
<aside>
	<ul>
		<li><a ui-sref=".notebook">Notebook</a></li>
		<li><a ui-sref=".about">About</a></li>
	</ul>
</aside>
<main>
	<div ui-view></div>
</main>
<footer/>
